.pokedex-container {
  text-align: center;
}

.pokedex-header {
  background-color: #ffcb05;
  padding: 20px;
}

.pokemon-logo {
  width: 300px; 
  height: auto; 
  margin: 0 auto;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Increased min-width of cards */
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Increase padding */
  margin: 0.5rem; /* Ensure cards have a bit of space around them */
  height: 250px; /* Set a fixed height */
  background: #f9f9f9;
  transition: transform 0.2s;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .pokedex-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .card {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .pokedex-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .card {
    height: 150px;
  }
}

.card:hover {
  transform: translateY(-5px);
}

.pokemon-image {
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.pokemon-name {
  color: #333;
  font-size: 1rem;
  text-transform: capitalize;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  background-color: #ffcc00;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
